<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6554089071-852nb66j0d7l121q9u4gtjvfgkib7nri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6554089071-852nb66j0d7l121q9u4gtjvfgkib7nri</string>
	<key>API_KEY</key>
	<string>AIzaSyB-Ou4ItgePFVA_9Ac_7QIuwNcrSOOaelM</string>
	<key>GCM_SENDER_ID</key>
	<string>6554089071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NMZabludovskiy.ChatWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>chat-e8fac</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-e8fac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6554089071:ios:61275f32c37aaad9f33f9a</string>
	<key>DATABASE_URL</key>
	<string>https://chat-e8fac.firebaseio.com</string>
</dict>
</plist>